DOMAIN_ADGUARD=''
ADGUARD_PASSWORD=''

DOMAIN_FRESHRSS=''
FRESHRSS_PASSWORD=''

DOMAIN_NEXTCLOUD=''
DOMAIN_ROMM=''
DOMAIN_RAMPER=''
DOMAIN_RAMPER_STATUS=''
DOMAIN_PVE=''
DOMAIN_FILEBROWSER=''

PROXMOX_NODE_USERNAME=''
PROXMOX_NODE_PASSWORD=''
PROXMOX_NODE_NAME=''

CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_TUNNEL_ID=''
CLOUDFLARE_TUNNEL_KEY=''

TAILSCALE_DEVICE_ID=''
TAILSCALE_KEY=''

WEATHER_LATITUDE=''
WEATHER_LONGITUDE=''
