DOMAIN_ADGUARD=''
ADGUARD_PASSWORD=''

DOMAIN_FRESHRSS=''
FRESHRSS_PASSWORD=''

DOMAIN_TANDOOR=''
TANDOOR_KEY=''

DOMAIN_NAVIDROME=''
NAVIDROME_USER=''
NAVIDROME_TOKEN=''

DOMAIN_NETDATA=''
DOMAIN_ROMM=''
DOMAIN_RAMPER=''
DOMAIN_RAMPER_STATUS=''
DOMAIN_PVE=''
DOMAIN_FILEBROWSER=''
DOMAIN_SYNCTHING=''
DOMAIN_BENTO=''
DOMAIN_VAULT=''
DOMAIN_ALPARGATIFY=''

PROXMOX_NODE_USERNAME=''
PROXMOX_NODE_PASSWORD=''
PROXMOX_NODE_NAME=''

CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_TUNNEL_ID=''
CLOUDFLARE_TUNNEL_KEY=''

TAILSCALE_DEVICE_ID=''
TAILSCALE_KEY=''

WEATHER_LATITUDE=''
WEATHER_LONGITUDE=''
