---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Proxmox:
    - Proxmox Community Scripts:
        - icon: sh-proxmox
          href: https://community-scripts.org/
    - Este proyecto en Github:
        - icon: sh-homepage
          href: https://github.com/alpargatagazer/proxmox-homepage
    - Documentación de Homepage:
        - icon: sh-homepage
          href: https://gethomepage.dev/

- Web Ramper:
    - Web pública:
        - icon: https://raw.githubusercontent.com/alpargatagazer/ramper-web/main/public/favicon.webp
          href: https://ramper.band
    - Repo:
        - icon: sh-github
          href: https://github.com/alpargatagazer/ramper-web
    - Repo deploy:
        - icon: sh-github
          href: https://github.com/alpargatagazer/ramper-web-deploy

- Alpargatify:
    - Web pública:
        - icon: sh-navidrome
          href: https://${DOMAIN_ALPARGATIFY}
    - Viejo Repo:
        - icon: sh-github
          href: https://github.com/alpargatagazer/alpargatify
    - Bot repo:
        - icon: sh-github
          href: https://github.com/alpargatagazer/alpargotobot
